#subheader {
    height: 100px;
    background-color: #FF9239; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #FF9239, #FF3F00);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
}
#subheader h1 {
    text-align: center;
    padding: 25px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 1.5px;
}
#subheader .buttonSub {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
    border-width: 2px;
    padding: 5px 35px;
    font-size: 20px;
}
#subheader .buttonSub:hover {
    background-color: #fff;
    opacity: 1;
    color: #FF9239;
}

.placesContainer{
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: row;
}

.carouselContainer{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(232, 232, 232);
}
.foodCarousel{
    width: 100%;
    height: 100%;
}
.slideWrapper{
    width: 90%;
    height: 100%;
    padding: 15px;
}  

.placeDetailsContainer{
    height: 100%;
    width: 50%;
}
#map{
    height: 58%;
    width: 100%;
    overflow: hidden;
}
#map iframe{
    width: 100%;
    height: 100%;
}

.restaurantNameBox{
    height: 12%;
    background-color: #FF9239; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #FF9239, #FF3F00);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(182, 182, 182, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(182, 182, 182, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(182, 182, 182, 0.75);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    color: white;
}
#restaurantName{
    display: inline-block;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#cuisineType{
    margin: 0;
    overflow: hidden;
}
#cuisineType{
    font-size: 18px;
    margin-top: 5px;
}

.placeDetails{
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
}
.placeTextDetails{
    margin: 15px 30px;
}
.placeTextDetails h5{
    margin-top: 5px;
    font-weight: 600;
}
.placeTextDetails p{
    margin-bottom: 5px;
}
.carousel{
    width: 100%;
    height:100%;
}
.carousel-inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item{
    width: 100%;
    height: 100%;
}
.carousel-item div{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow: hidden; */
    background-image:url(http://static.asiawebdirect.com/m/bangkok/portals/bangkok-com/homepage/food-top10/pagePropertiesImage/thai-som-tum.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.slideImg{
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next{
    background: rgba(78, 78, 78,.8);
    width: 60px;
}
