body {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, p {
    margin: 0;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    
}
#left h3 {
    color: #FF9239;
    font-weight: bold;
}
#right i {
    font-size: 35px;
    color: #FF9239;
}
#logoLink{
    text-decoration: none;
}
#logoLink h3{
    font-weight: 700;
}

.modal-header h5{
    color: orange;
    font-weight: 700;
    font-size: 25px;
}
.ourTeam{
    width: 100%;
}
.teamImg{
    width: 95%;
    margin: 10px auto;

}
.teamImg img{
    width: 100%;
}

.teamName p{
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
}

.iButton{
    background: transparent;
    border: none;
}